/* star animation */

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: fixed;
  color: red;
  z-index: 1000;
}
.star:before {
  position: absolute;
  content: "\2726";
  color: inherit;
  inset: 0;
  text-shadow: 0 0 0.8em #fff5;
}

:root {
  /* 标题渐变 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #00ff00,
    #8b4513
  );
  --vp-button-brand-bg: #00cc66;
  --vp-button-brand-hover-bg: #00b359;

  /* 主题色配置 */
  --vp-c-green-1: #2e8b57;
  --vp-c-green-2: #3cb371;
  --vp-c-green-3: #90ee90;
  --vp-c-green-soft: #c8e6c9;

  /* 应用于其他主题的色彩 */
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}
