/* star animation */
.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: fixed;
  color: red;
  z-index: 1000;
}

.star:before {
  position: absolute;
  content: "\2726";
  color: inherit;
  inset: 0;
  text-shadow: 0 0 0.8em #fff5;
}

:root {
  font-family: '"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"';
}
